    <nav class="navbar navbar-expand-sm navbar-black bg-black">
        <div class="container" style="font-weight: bold;">
            <a class="navbar-brand">
                AKII_BHINGRADIYA
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#myMenu4">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center text-white" id="myMenu4">
                <div class="navbar-nav ml-auto text-white" >
                    <a class="nav-link text-white mx-2 bold" href="index">Home</a>
                    <a class="nav-link text-white mx-2 bold" href="weather">weather</a>
                    <a class="nav-link text-white mx-2 bold" href="about">About us</a>
                </div>
            </div>
        </div>
    </nav>
